# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized
*.js text
*.jsx text
*.ts text
*.tsx text
*.json text
*.css text
*.scss text
*.md text
*.html text
*.xml text
*.yml text
*.yaml text

# Denote all files that are truly binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.pdf binary
*.docx binary
*.xlsx binary